# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# ignore everything
*

!.gitignore
!README.md
!mysql/*
!*/htdocs/moodle/*

!moodledata/*
moodledata/cache/*
moodledata/localcache/*
